<div class="app-container">
    <div class="configurate">
        <fa-icon class="icon" [icon]="faArrowLeftLong"></fa-icon>
        <span>Configuracion</span>
    </div>
    <div class="notifications">
        <span>Notificaciones por e-mail</span>
    </div>
    <div class="table">
        <table>
            <tr class="head">
                <td class="title">
                    <fa-icon class="icon message" [icon]="faMessage"></fa-icon>
                    <span>
                        Notificaciones por e-mail
                    </span>
                </td>
                <td class="td-action">
                    <span>Acciones</span>
                </td>
            </tr>
            <tr class="list">
                <td class="td-list">Recordatorio de pago</td>
                <td class="td-icon">
                    <fa-icon class="icon" [icon]="faToggleOn"></fa-icon>
                </td>
            </tr>
            <tr class="list">
                <td class="td-list">Ofertas y promociones</td>
                <td class="td-icon">
                    <fa-icon class="icon" [icon]="faToggleOff"></fa-icon>
                </td>
            </tr>
        </table>
    </div>
    <div class="notifications">
        <span>Notificaciones por sms</span>
    </div>
    <div class="table">
        <table>
            <tr class="head">
                <td class="title">
                    <fa-icon class="icon message" [icon]="faMessage"></fa-icon>
                    <span>
                        Notificaciones por e-mail
                    </span>
                </td>
                <td class="td-action">
                    <span class="action">Acciones</span>
                </td>
            </tr>
            <tr class="list">
                <td class="td-list">Recordatorio de pago</td>
                <td class="td-icon">
                    <fa-icon class="icon" [icon]="faToggleOff"></fa-icon>
                </td>
            </tr>
            <tr class="list">
                <td class="td-list">Ofertas y promociones</td>
                <td class="td-icon">
                    <fa-icon class="icon" [icon]="faToggleOn"></fa-icon>
                </td>
            </tr>
        </table>
    </div>

    <div class="footer">
        <small>Todos los derechos reservados - Wedevel - Barranquilla - Atlántico, Colombia</small>
    </div>
</div>