<div class="sidebar">
    <div class="sidebar-items">
        <ul>
            <li>
                <a href="#">
                    <fa-icon class="icon" [icon]="faFileInvoiceDollar"></fa-icon> <span>Pagos</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon class="icon" [icon]="faFile"></fa-icon> <span>Indicadores</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon class="icon" [icon]="faHandHoldingDollar"></fa-icon> <span>Grupo de gasto</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon class="icon" [icon]="faBatteryFull"></fa-icon> <span>Recarga</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-items">
        <ul>
            <li>
                <a href="#">
                    <fa-icon class="icon" [icon]="faUsers"></fa-icon> <span>Master de usuarios</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-items">
        <ul>
            <li>
                <a href="#">
                    <fa-icon class="icon" [icon]="faUser"></fa-icon> <span>Perfil</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon class="icon" [icon]="faGear"></fa-icon> <span>Configuracion</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon class="icon" [icon]="faCircleInfo"></fa-icon> <span>Informacion</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <fa-icon class="icon" [icon]="faRightFromBracket"></fa-icon> <span>Cerrar sesion</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-items footer">
        <ul>
            <li>
                <img src="../../../assets/img/LogoFooter.png" alt="a">
            </li>
            <li>
                <span href="#">
                    <p>Todos los derechos reservados</p>
                    <p>Wedevel - Barranquilla - Atlántico, Colombia</p>
                </span>
            </li>
        </ul>
    </div>
</div>